<!-- <link rel="stylesheet" type="text/css" href="style.css" />
<body>
<div class="wrapper">


<header class="header"> MakersBnB  </header> -->

<h1>Please sign in</h1>

<form action='/' method='get'>
  <input type='submit' value='Homepage'>
</form>

<form action='/sessions' method='post'>
  <label for='email'>
  Email:
  <input name='email', type='email'>
  </label>
  <label for='password'>
  Password:
  <input name='password' type='password'>
  </label>

  <input type='submit' value='Sign in'>
</form>
<!-- </div>
</body> -->
