<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script> $(document).ready(function(){
    $('#from_id').change(function(){
      var toDate = $('#from_id').val();
      $('#to_id').attr('min', toDate);
    });
  }); </script>
</head>
<body>
<h1> New Space </h1>

<form action='/' method='get'>
  <input type='submit' value='Homepage'>
</form>

<% if @current_user %>
  <form class="new-spaces" action='/spaces' method='POST'>
    <label for='name'>
      Name:
      <input type='text' required name='name' />
    </label><br>
    <label for='location'>
      Location:
      <input type='text' required name='location' />
    </label><br>
    <label for='description'>
      Description:
      <input type='text' required name='description' />
    </label><br>
    <label for='price_per_night'>
      Price Per Night:
      <input type='number' min='0' step='1' required name='price_per_night' />
    </label><br>

    <label for='available_from'>
      Available From:
      <input id='from_id' type='date' required name='available_from' />
    </label><br>

    <label for='available_to'>
      Available To:
      <input id='to_id' type='date' min='2016-01-01' required name='available_to' />
    </label><br>

    <input type='submit' value='Create space'>

  </form>

<% else %>
  <h2>Please sign in first</h2>
  <form method='get' action='/sessions/new'>
    <input type='submit' value='Sign in'>
  </form>

  <form method='get' action='/users/new'>
    <input type='submit' value='Sign up'>
  </form>
<% end %>

</body>
</html>
