<a href='#/'>Homepage</a>
<h3>{{spacescontroller.currentspace.name}}</h3>
<ul>
  <li>Price: ${{spacescontroller.currentspace.price}}</li>
  <li>Location: {{spacescontroller.currentspace.location}} </li>
  <li>Size: {{spacescontroller.currentspace.size}}</li>
  <li>Property type: {{spacescontroller.currentspace.property_type}} </li>
</ul>
<button ng-click='spacescontroller.editSpace(spacescontroller.currentspace)'>Edit Space</button>
<button ng-click='spacescontroller.deleteSpace(spacescontroller.currentspace)'>Delete Space</button>
